<app-header [title]="'panic.title' | translate" icon="people-outline"></app-header>

<ion-content class="panic-content">

  <div class="panic-text">
    <p>{{ 'panic.instructionText' | translate }}</p>
  </div>

  <div class="panic-button-container">
    <ion-button shape="round" class="panic-button" (click)="togglePanic()">
      <ion-icon name="alert-circle" slot="icon-only" class="big-icon"></ion-icon>
    </ion-button>
  </div>

  <ion-button class="button-comp" expand="block" (click)="shareLocation()">
    <ion-icon name="location-outline" slot="start"></ion-icon>
    {{ 'panic.shareLocationHeader' | translate }}
  </ion-button>

</ion-content>