<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main" href="/menu/main">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>¡Pánico!</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera" href="/menu/camera">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>¡Evidencias!</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts" href="/menu/contacts">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>¡Contactos!</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
