
@import 'src/theme/variables';


ion-toolbar {
--background: var(--ion-color-primary);

}

ion-title {
text-align: center;
font-weight: bold;
font-size: 24px;

}


.header-icon {
  margin-right: 8px;
  color: var(--ion-color-primary);
  font-size: 1.2rem;
  vertical-align: middle;
}
.custom-header {
  --background: var(--ion-color-primary);

}



