<app-header [title]="'contacts.title' | translate" icon="people-outline">
</app-header>

<ion-content class="contacts-content" [fullscreen]="false">
  <div class="contacts-container">

    <div class="action-buttons">
      <ion-button expand="block" class="add-contact-btn" (click)="addEmergencyContact()">
        <ion-icon name="person-add" slot="start"></ion-icon>
        {{ 'contacts.addButton' | translate }}
      </ion-button>

      <ion-button expand="block" fill="outline" class="import-contacts-btn" (click)="importContacts()">
        <ion-icon name="download" slot="start"></ion-icon>
        {{ 'contacts.importButton' | translate }}
      </ion-button>
    </div>

    <div class="contacts-list-container">
      <div class="contacts-header">
        <h3>{{ 'contacts.header' | translate }}</h3>
        <span class="contacts-count">
          {{ contacts.length }} {{ 'contacts.countLabel' | translate }}
        </span>
      </div>

      <div class="empty-state" *ngIf="contacts.length === 0">
        <ion-icon name="people-outline"></ion-icon>
        <p>{{ 'contacts.emptyTitle' | translate }}</p>
        <span>{{ 'contacts.emptySubtitle' | translate }}</span>
      </div>

      <div class="contacts-list" *ngIf="contacts.length > 0">
        <div class="contact-card" *ngFor="let contact of contacts; let i = index">
          <div class="contact-info">
            <div class="contact-avatar">
              <ion-icon name="person"></ion-icon>
            </div>
            <div class="contact-details">
              <h4>{{ contact.name }}</h4>
              <p>{{ contact.phone }}</p>
              <span class="contact-type">
                {{ contact.type || ('contacts.defaultType' | translate) }}
              </span>
            </div>
          </div>

          <div class="contact-actions">
            <ion-button fill="clear" size="small" (click)="callContact(contact)">
              <ion-icon name="call"></ion-icon>
            </ion-button>

            <ion-button fill="clear" size="small" (click)="openContactOptions(contact, i)">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>