:root {
    --ion-color-primary: #42A5F5; // Azul principal para encabezados y barra inferior
    --ion-color-primary-contrast: #ffffff;



    --ion-color-danger: #db4745; // Rojo para el botón de alerta
    --ion-color-danger-contrast: #ffffff;


    --ion-color-light-blue: #90CAF9; // Azul claro para el botón 'Compartir Ubicación'
    --ion-color-light-blue-contrast: #ffffff;


    --ion-color-medium-text: #000000;



    --ion-color-background: #ffffff; // Fondo general de la aplicación
}