:root {
    --ion-color-primary: #42A5F5;
    --ion-color-primary-contrast: #ffffff;

    --ion-color-danger: #db4745;
    --ion-color-danger-contrast: #ffffff;

    --ion-color-light-blue: #90CAF9;
    --ion-color-light-blue-contrast: #ffffff;

    --ion-color-medium-text: #000000;

    --ion-color-background: #ffffff;
}