<app-header [title]="editingIndex !== null
    ? ('contacts.edit.title' | translate)
    : ('contacts.add.title' | translate)" icon="person-add">
</app-header>

<ion-content class="add-contact-content">
  <ion-item>
    <ion-label position="stacked">{{ 'contacts.name.placeholder' | translate }}</ion-label>
    <ion-input [(ngModel)]="form.name" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'contacts.phone.placeholder' | translate }}</ion-label>
    <ion-input [(ngModel)]="form.phone" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'contacts.message.placeholder' | translate }}</ion-label>
    <ion-textarea [(ngModel)]="form.message"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'contacts.allow.call' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="form.allowCall"></ion-toggle>
  </ion-item>

   <ion-item>
    <ion-label>{{ 'contacts.allow.sms' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="form.allowSms"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'contacts.allow.location' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="form.allowLocation"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'contacts.allow.photo' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="form.allowPhoto"></ion-toggle>
  </ion-item>

  <ion-row class="add-contact-buttons" justify-content-center>
    <ion-col size="6">
      <ion-button expand="block" color="success" (click)="saveContact()">{{ 'general.save' | translate }}</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="medium" (click)="cancel()">{{ 'general.cancel' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>